@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.app, p, h1, h2, h3, a, Link {
  text-align: center;
  font-family: Pangolin;
}

.header, .result, .savedBooks, form {
  padding: 10px 10px;
  Border: 5px solid black;
  margin: 10px 10px;
}

#input {
  width: 100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
